<%- include ('./partials/header.ejs')%>
<body>
  <div class="container">
    <div class="row">
      <div class="col md-3">
        <h2>User Management System </h2>
        <div id="nav">
          <%- include('./partials/navigationbar.ejs') %>
        </div>
        <hr>
        <div id="paragraph">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolores quod omnis ex error maxime laudantium deleniti velit. Minima iusto amet odit tempora quos itaque ipsa unde omnis a necessitatibus!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sint dolores quasi vero saepe nam quos quam possimus asperiores, earum exercitationem assumenda. Asperiores dolore alias eaque quis in dolorem libero.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, earum perspiciatis. Architecto vel, dignissimos voluptatem, voluptatibus et corporis quam quidem ab aperiam excepturi, nemo itaque dicta modi id. Pariatur, qui!</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<%- include ('./partials/footer.ejs')%>