
<%- include ('./partials/header.ejs')%>
<body>
  <div class="col-md-6">
   <h2>User DashBoard </h2>
  </div>
  <a href="/users/logout"><Button class="btn btn-primary btn-sm" id="logout">Log out</Button></a>
</body>
